.left {
    text-align: left;
    padding-left: 1%;
}
.rrpic {
    max-height: 2em;
}
.centeredu {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.edupadding {
    padding-left: 18%;
}
.edupadding2 {
    padding-left: 17%;
}